@font-face {
  font-family: irsans;
  src: url("irsans.woff2") format("woff");
}

@keyframes bell {
  0% {
    rotate: 0;
  }
  80% {
    rotate: 0deg;
  }
  85% {
    rotate: 12deg;
  }
  90% {
    rotate: -12deg;
  }
  95% {
    rotate: 12deg;
  }
  100% {
    rotate: 0deg;
  }
}

:root {
  --background-color-lighter: #162646;
  --background-color: #090f1d;
  --background-color-light: #0c1427;
  --accent-color: #ba5e0a;
  --sidebar-width: 16rem;
  --content-right-margin: 18rem;
  --navbar-height: 5rem;
  --title-display: block;
  --header-justify: space-between;
  --sidebar-z: 50;
  --navbar-z: 49;
}

::-webkit-scrollbar {
  background: var(--background-color-light);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color-lighter);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

input {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: inherit;
  font-family: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: fit-content;
  height: fit-content;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

body,
html {
  background: var(--background-color);
  color: #e5e7eb;
  font-family: irsans, sans-serif;
}

html {
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  right: 0;
  width: var(--sidebar-width);
  background: var(--background-color-light);
  box-shadow: -3px -3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: width 400ms, translate 500ms;
  translate: 100% 0;
  z-index: var(--sidebar-z);
}

.sidebar__content {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.sidebar--show {
  translate: 0 0;
}

.small-size {
  --sidebar-width: 5rem;
  --title-display: none;
  --header-justify: center;
}

.sidebar__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: var(--header-justify);
  align-items: center;
  padding: 0 1rem;
  height: var(--navbar-height);
  flex-shrink: 0;
}

.sidebar__header-title {
  display: var(--title-display);
  font-size: 1.15rem;
}

.sidebar__collapse-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.sidebar__links-container {
  flex-grow: 1;

  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.4rem;
  padding: 1rem 0;
}

.sidebar__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #808cac;
  gap: 0.8rem;
  transition: gap 300ms;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar__link.active {
  gap: 1.6rem;
  color: inherit;
}

.sidebar__icon-container {
  padding: 0.5rem 1.4rem 0.5rem 0.8rem;
  border-radius: 99rem 0 0 99rem;
  transition: background-color 300ms, color 300ms;
}

.sidebar__link.active .sidebar__icon-container {
  background-color: var(--accent-color);
  color: #e5e7eb;
}

.sidebar__icon {
  width: 2rem;
  height: 2rem;
  display: block;
}

.sidebar__icon-notification {
  position: relative;
}

.sidebar__notification-animation {
  transform-origin: top center;
  animation: bell 8s infinite;
}

.sidebar__notification-badge {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #ff2b2b;
  margin-right: auto;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--navbar-height);
  background: var(--background-color-light);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: right 400ms;
  padding: 0 1rem;
  z-index: var(--navbar-z);
}

.navbar__left-items,
.navbar__right-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__toggle-sidebar-icon {
  display: block;
  width: 2.6rem;
  height: 2.6rem;
}

.navbar__user-info {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 0.9rem;
  text-align: left;
  gap: 1rem;
}

.navbar__user-type {
  font-size: 0.8rem;
  color: #808cac;
}

.navbar__user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.content {
  margin-top: var(--navbar-height);
  margin-right: 0;
  transition: margin-right 400ms;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.info-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.info-box__item {
  aspect-ratio: 1;
  border: solid 6px #0c1427;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 0.2rem;
  background: linear-gradient(135deg, var(--background-color-lighter), var(--background-color-light));
}

.info-box__icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.4rem;
}

.info-box__value {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.info-box__key {
  font-size: 0.8rem;
  color: #8994b0;
  text-align: center;
}

.sidebar__footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-shrink: 0;
  padding: 1.4rem;
  color: #808cac;
  box-shadow: 3px -3px 10px 0 rgba(0, 0, 0, 0.1);
}

.small-size .sidebar__footer {
  display: none;
}

.sidebar__footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.sidebar__footer-icon {
  display: block;
  width: 2rem;
  height: 2rem;
}

.mb-2 {
  margin-bottom: 0.3rem;
}
.mb-4 {
  margin-bottom: 0.6rem;
}
.mb-8 {
  margin-bottom: 1.2rem;
}

.double-box {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
  gap: 1rem;
}

.double-box__user-info,
.double-box__last-notifications {
  padding: 1rem;
  background: linear-gradient(135deg, var(--background-color-lighter), var(--background-color-light));
  border: solid 6px var(--background-color-light);
  color: #8994b0;
  height: 100%;
  border-radius: 0.5rem;
}

.double-box__user-info {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.user-info__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.user-info__item h4 {
  align-self: center;
  margin-bottom: 0.5rem;
}

.user-info__item span {
  background: rgba(0, 166, 255, 0.03);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.double-box__last-notifications {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.double-box__n-list {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 1rem;
}

.see-all-notification-btn {
  width: 100%;
  background: var(--accent-color);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.mt-auto {
  margin-top: auto;
}

.notification {
  width: 100%;
  padding: 0.8rem 0.6rem;
  background: rgba(0, 166, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  border-radius: 0.5rem;
}

.notification__icon-container {
  border-right: solid 4px transparent;
  padding-right: 0.4rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification__icon {
  width: 2.8rem;
  height: 2.8rem;
  display: block;
}

.notification--info {
  color: #4d9fca;
  border-right-color: #4d9fca;
}

.notification--warning {
  color: #ffc400;
  border-right-color: #ffa600;
}

.notification--ok {
  color: #34d700;
  border-right-color: #34d700;
}

.notification__info-container {
  flex-grow: 1;
}

.notification__info-container h4 {
  color: white;
  margin-bottom: 0.25rem;
}

.notification__info-container p:nth-child(2) {
  font-size: 0.84rem;
  color: #8994b0;
  margin-bottom: 0.4rem;
}

.notification__info-container p:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
  color: #8994b0;
}

.notification-page-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.page-mini-title {
  text-align: center;
  font-size: 1.8rem;
  color: #c3cbd8;
  margin-bottom: 0.5rem;
}

.page-mini-subtitle {
  color: #5d6779;
  font-size: 0.9rem;
  text-align: center;
}

.course-page-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2rem 0;
}

.course-page-container li {
  width: 100%;
}

.page-course__course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(135deg, var(--background-color-lighter), var(--background-color-light));
  border-radius: 0.5rem;
  overflow: hidden;
  color: #8994b0;
}

.page-course__course-img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  flex-shrink: 0;
}

.page-course__course-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.2rem;
  flex-grow: 1;
  padding: 1rem;
  font-size: 0.9rem;
}

.page-course__course-title {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.2rem;
}

.page-course__course-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-course__enter-course-btn {
  text-align: center;
  background: var(--accent-color);
  color: white;
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.page-course__send-exercise {
  text-align: center;
  padding: 0.4rem;
}
.live-timer {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.live-timer__number {
  background: var(--background-color-lighter);
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
}
.enter-live-btn {
  background: var(--accent-color);
  color: white;
  padding: 0.5rem 1rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.edit-profile__img {
  display: block;
  width: fit-content;
  margin: 0 auto 2rem auto;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.edit-profile__img img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
}
.edit-profile__img input {
  display: none;
}
.edit-profile__img span {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 9999px;
  transition: 300ms;
  text-align: center;
  font-size: 0.9rem;
}
.edit-profile__img:hover span {
  opacity: 1;
}
.edit-profile__double-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.edit-profile__input {
  background: var(--background-color-light);
  border-radius: 0.5rem;
  border-bottom: solid 4px transparent;
  transition: 300ms;
  margin-bottom: 0.5rem;
}
.edit-profile__double-input .edit-profile__input {
  margin-bottom: 0;
}
.edit-profile__input:focus-within {
  border-bottom-color: var(--background-color-lighter);
}
.edit-profile__input input {
  padding: 0.8rem 1rem;
}
.edit-profile__input label {
  display: none;
}
.edit-profile__form {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
.edit-profile__switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.edit-profile__switch span {
  display: block;
  width: 60px;
  height: 30px;
  background: var(--background-color-light);
  border-radius: 9999px;
  position: relative;
  transition: background-color 300ms;
}
.edit-profile__switch span::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background: var(--background-color-lighter);
  top: 3px;
  right: 3px;
  transition: 300ms ease-in-out;
}
.edit-profile__switch input:checked + span {
  background: var(--background-color-lighter);
}
.edit-profile__switch input:checked + span::after {
  right: 33px;
  background: var(--accent-color)
}

.edit-profile__switch input {
  display: none;
}
.edit-profile__submit {
  width: 100%;
  background: var(--accent-color);
  color: white;
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
}
.edit-profile__pencil {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: var(--background-color-lighter);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  padding: 0.5rem;
  pointer-events: none;
}
.edit-profile__pencil svg {
  width: 100%;
  height: 100%;
  color: white;
}
.exercise__dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--background-color-light);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.exercise__dropdown-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.exercise__dropdown.open .exercise__dropdown-header {
  padding-bottom: 1rem;
  border-bottom: dashed 2px var(--background-color-lighter);
}
.exercise__title {
  flex-grow: 1;
  font-size: 1.1rem;
}
.exercise__actions {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.exercise__is-done {
  color: #5d6779;
}
.exercise__arrow {
  width: 1.6rem;
  height: 1.6rem;
}
.exercise__arrow svg {
  width: 100%;
  height: 100%;
  transition: rotate 300ms;
}
.exercise__dropdown.open .exercise__arrow svg {
  rotate: -90deg;
}
.exercise__content {
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  font-size: 0.9rem;
  color: #9ba3b2;
  line-height: 1.8rem;
}
.exercise__dropdown.open .exercise__content {
  display: flex;
}
.full-width {
  width: 100%;
}
.media {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.exercise__send-btn {
  display: block;
  width: 100%;
  background: var(--accent-color);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5000;
}
.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  z-index: 5001;
  max-height: 80vh;
  background: var(--background-color-light);
  padding: 1rem;
  border-radius: 0.5rem;
  transform: translateX(-50%) translateY(-50%);
}
.modal__file-input {
  display: block;
  width: 100%;
}
.modal__file-input input {
  display: none;
}
.modal__file-input span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 150px;
  border: dashed 2px rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
}
.modal__button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  gap: 1rem;
}
.modal__submit-btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.02);
}
.modal__submit-btn--primary {
  background: var(--accent-color);
}
/* small */
@media (width > 620px) {
  .info-box {
    grid-template-columns: 1fr 1fr;
  }

  .double-box__user-info {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  .course-page-container {
    grid-template-columns: 1fr 1fr;
  }

  .edit-profile__double-input {
    grid-template-columns: 1fr 1fr;
  }
}

/* medium */
@media (width > 860px) {
  .content {
    margin-right: var(--sidebar-width);
  }

  .navbar {
    right: var(--sidebar-width);
  }

  .sidebar {
    top: 0;
    translate: 0 0 !important;
  }

  .navbar__toggle-sidebar-btn {
    display: none;
  }

  .info-box {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .double-box {
    gap: 1.5rem;
  }
}

@media (width > 1180px) {
  .course-page-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .live-timer__number {
    padding: 1rem 0.8rem;
  }
  .live-timer {
    font-size: 1.4rem;
  }
}

/* large */
@media (width > 1320px) {
  .info-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .double-box {
    grid-template-columns: 1fr 1fr;
  }

  .double-box__n-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }
}
